.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49,49,49);
    width: fit-content;
    justify-self: center;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.timerDiv{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

.space + .space{
    margin-top: 0.5rem;
}

.p{
    margin: 0 0.25rem;
}

.startBtn{
    all: unset;
    height: 2rem;
    width: 7rem;
    align-self: center;
    background-color: rgb(14, 211, 14);
    color: rgb(49, 49, 49);
    font-weight: 800;
    border: 1px solid white;
    border-bottom: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: all 0.2s ease;
}

.startBtn:hover{
    transform: translateY(-3px);
}

.startBtn:active{
    transform: translateY(3px);
}
.groupSelect{
    width: 5.5rem;
    margin: 0.5rem 0;
}
